<div class="container" ng-controller="FindController">
    <div class="row">
        <div class="col-md-4">
            <p class="alert">
               <h2> Please upload find details to notifiy the owner</h2>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="formBox" ng-controller="UploadController" ng-init="setOperation('find')">
              <h4>Upload on file select</h4>
              <button class="btn btn-danger" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                  Select File</button>
              <br>
              <br>
              <div class="row">
                 <div class="col-md-4">
                  File:
                  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                      <span class="progress" ng-show="f.progress >= 0">
                    <div style="width:{{f.progress}}%"
                         ng-bind="f.progress + '%'"></div>
                </span>
                  </div>
                  {{errorMsg}}
                   </div>
              </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form>
                Theft id for your reference : {{theftInfo.id}}
                <div class="form-group">
                    <input type="text" id="finderName" class="form-control" ng-model="findInfo.locators_name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" id="email" class="form-control" ng-model="findInfo.locators_email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="text" id="phone" class="form-control" ng-model="findInfo.locators_contactNumber" placeholder="Contact Number">
                </div>
                <div class="form-group">
                    <label for="location">Location :</label>
                    <ng-map zoom="16" center="current-location" geo-fallback-center="4.672585, -74.059525" on-click="placeMarker()">
                        <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>
                    </ng-map>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="reportFindForTheft(findInfo)">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
