<div class="container" ng-controller="ResetPasswordController">
  <div class="col-md-12">
      <div class="alert">
        <h3>Password Reset<h3>
      </div>
  </div>
  <div class="col-md-6">
    <form name="resetPasswordForm">
      <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="resetPassword.emailAddress" placeholder="Reset Password">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="resetPasswordForUser(resetPassword)">Reset Password</button>
    </form>
  </div>
</div>
