<div class="container" ng-controller="ResetPasswordController">
  <div class="row">
  <div class="col-md-6">
      <div class="well">
        <h3>Password Reset<h3>
      </div>
  </div>
</div>
  <div class="row">
  <div class="col-md-6">
    <form name="resetPasswordForm" novalidate>
      <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="resetPassword.emailAddress" placeholder="Reset Password" required>
          <div ng-messages="resetPasswordForm.email.$error" ng-show="resetPasswordForm.$submitted" class="form-group has-error">
              <div ng-message="required">*Please enter your email address</div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="resetPasswordForm.$valid ? resetPasswordForUser(resetPassword) : ''">Reset Password</button>
    </form>
  </div>
</div>
</div>
