<div class="well">
<h2>Report a found car</h2>
<p>
  Found an abandoned car or suspicious car ?
  Find if it's lost.
</br>
  Follow our 3 simple steps and stand a chance to win a big reward
</p>
</div>
<div class="row">
  <ul class="nav nav-pills">
    <li  class="active" ng-class="{ active: isActive('/found/search') }" role="presentation"><a  ui-sref=".search">Search</a></li>
    <li  ng-class="{ active: isActive('/found/upload') }" role="presentation"><a ui-sref=".upload">Upload</a></li>
  </ul>
</div>
<div ui-view>
</div>
