<div class="alert">

    <h2>How it works</h2>
    <p>
      What is use to be Unfortunately you lost your car. You panic.. don't know what to do. Report to police and call up and tell all your friends and hope and pray for getting the car back intact. But now.. Unfortunately, you lost your car. You can now report
    on Findmystolencar and relax. Thousandds of people from findmystolen car community will be on lookout of your car and report as soon as import it is found. Its simple easy and free. Share it with all your friends and make the findmystolencar community
    grow.
    </p>
</div>
