<div class="container" ng-controller="LandingPageController">
<div class="row">
  <div class="col-md-12">
      <div class="alert">
          <h2>Join the community &</h2>
          Lets help each other to find a lost Vehicle.
      </div>

  </div>
  <div class="col-md-6">
    <div class="verticalspace">
        <button type="button" class="btn btn-primary btn-block" ng-click="registerTheft()">Lost</button>
    </div>
    <div class="verticalspace">
      <button ui-sref="found.search" type="button" class="btn btn-primary btn-block">Found</button>
    </div>
    <div class="verticalspace">
      <button ui-sref="status" type="button" class="btn btn-primary btn-block">Check Status</button>
    </div>
    <div class="verticalspace">
      <button ui-sref="howitworks" type="button" class="btn btn-primary btn-block">How it works</button>
    </div>
  </div>

</div>
</div>
