<div class="container" ng-controller="ProfileController">
 <div class="row ">
   <div class="col-md-4">
      <img src="/images/icons/profileLogo.png" class="img-rounded img-responsive" />
      <div class="form-group col-md-8">
                        <h3>Change YOur Password</h3>
                        <br />
                        <form name="resetPassword" novalidate>
                          <div class="form-group">
                            <input type="password" name="oldPassword" class="form-control" ng-model="user.password" required placeholder="Old Password">
                            <div ng-messages="resetPassword.oldPassword.$error" ng-show="resetPassword.$submitted" class="form-group has-error">
                                <div ng-message="required">*Please enter your old password</div>
                            </div>
                          </div>
                            <div class="form-group">
                           <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" required placeholder="New Password">
                            <div ng-messages="resetPassword.newPassword.$error" ng-show="resetPassword.$submitted" class="form-group has-error">
                                <div ng-message="required">*Please enter your new password</div>
                            </div>
                          </div>
                            <div class="form-group">
                            <input type="password" name="cnfNewPassword" class="form-control" ng-model="user.newPpassword" required placeholder="Retype new password">
                            <div ng-messages="resetPassword.cnfNewPassword.$error" ng-show="resetPassword.$submitted" class="form-group has-error">
                                <div ng-message="required">*Please retype your new password</div>
                            </div>
                          </div>
                            <br>
                            <button type="submit" class="btn btn-primary" ng-click="resetPassword.$valid ? updatePassword(user) : ''">Change Password</button>
                      </form>
        </div>
   </div>
   <div class="col-md-4">
     <form name="profile" novalidate>
       <div class="form-group">
           <label for="name">Name :</label>
           <input type="text" class="form-control" name="name" ng-model="user.name">
       </div>
       <div class="form-group">
           <label for="email">Email Address :</label>
           <input type="email" name="email" class="form-control" ng-model="user.emailaddress" readonly>
       </div>
       <div class="form-group">
           <label for="name">Gender :</label>
           <select class="form-control" ng-model="user.gender">
             <option value="MALE">Male</option>
             <option value="FEMALE">Female</option>
             <option value="OTHER">Other</option>
           </select>
       </div>
       <div class="form-group">
           <label for="passport">Ic/Passport :</label>
           <input type="text" class="form-control" name="passport" ng-model="user.ic_passport">
       </div>
       <div class="form-group">
           <label for="mobile">ContactNumber :</label>
           <input type="text" class="form-control" name="mobile" ng-model="user.contactNumber">
       </div>
       <div class="form-group">
           <label for="country">Country :</label>
           <select class="form-control" ng-model="user.country_id">
             <option ng-repeat="country in countryList" value="{{country.country_code}}" >{{country.country}}</option>
           </select>
       </div>
       <div class="form-group">
           <label for="city">City :</label>
           <input type="text" class="form-control" name="city" ng-model="user.city">
       </div>
       <div class="form-group">
           <label for="address">Address :</label>
           <textarea class="form-control" name="address" ng-model="user.address"></textarea>
       </div>
       <div class="form-group">
           <label for="addressCordinates">Address in map (If you want to provide us with) :</label>
           <ng-map  zoom="16" center="current-location" geo-fallback-center="4.672585, -74.059525" on-click="placeMarker()">
               <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>
           </ng-map>
       </div>
       <button type="submit" class="btn btn-success" ng-click="updateProfile(user)">Update</button>
     </form>
   </div>
 </div>
</div>
