<div ng-controller="RewardsController">
    <div class="alert">
        List of find's which are ready to be rewarded:
    </div>
    <div ng-repeat="findInfo in findInfoListReadyForReward">
      Found by  : {{findInfo.locators_name}}
      Email address : {{findInfo.locators_email}}
      Contact : {{findInfo.locators_contactNumber}}
      Found at : {{findInfo.locators_contactNumber}}

      <div class="container">
        <div class="row">
          <div ng-repeat = "attachment in findInfo.attachments" class="col-md-4">
              <img ng-src="{{attachment.publicUrl}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
        </div>
       </div>
       <p class="alert alert-info">
         Is this your car
          <button ng-click="giveReward(findInfo)">Yes</button>
          <button ng-click="rejectReward(findInfo)">No</button>
       </p>
    </div>
</div>
