<div class="container" ng-controller="VehicleStatusController">
    <div class="row">
          <div class="col-md-6">
              <div class="well">
                <h2>Check status of your stolen vehicle</h2>
                <h3>Buying a second hand car, it would be great to check if it was lost in the past. </h3>
              </div>
          </div>
      </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="registrationNumber" class="form-control" ng-model="registrationNumber" placeholder="Enter vehicle registration number">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="getTheftStatusByVehicleRegNumber(registrationNumber)">Submit</button>
            <div class="verticalspace">
            </div>
            <div ng-show="theft_info != null">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="{{theft_info.vehicle.attachments[0].publicUrl}}" class="img-thumbnail" alt="{{theft_info.vehicle.attachments[0].attachment_name}}" width="304" height="236">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Theft Id:  </label><span>{{theft_info.id}}</span>
                            </div>
                            <div class="col-md-12">
                                <label>Theft Status:  </label><span>{{theft_info.status}}</span>
                            </div>
                            <div class="col-md-12">
                                <strong>URL you can share with your friends</strong>
                                <input type="text" readonly value="http://mylostcar.com/#/viewtheft?theftId={{theft_info.id}}" size="77"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="theft_info == null && searchClicked">
              <div class="well">
                Kindly check the registration number
              </div>
            </div>

        </div>
    </div>
</div>
