<div class="container" ng-controller="VehicleController">
    <div ng-if="hasVehilces">
        <div ng-repeat="vehicle in vehicles" class="boxShadow">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <img ng-src="{{vehicle.attachments[0].publicUrl}}" class="img-thumbnail" alt="{{vehicle.attachments[0].attachment_name}}" width="304" height="236">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class = "col-md-12">
                          <label>Car details</label>
                        </div>
                        <div class="col-md-12">
                            <label>ID: </label> <span>{{vehicle.id}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Type: </label><span>{{vehicle.type}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Make: </label><span>{{vehicle.make}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Model: </label><span>{{vehicle.model}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Year Of Make: </label><span>{{vehicle.year_of_make}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Color: </label><span>{{vehicle.color}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Registration Number: </label><span>{{vehicle.registrationNo}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Extra Info: </label><span>{{vehicle.extra_info}}</span>
                        </div>
                        <div class="col-md-12">
                            <label>Stolen: </label><span>{{vehicle.stolen}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                    <p>
                      <strong>Images uploaded for theft :</strong>
                    </p>
                  </div>
                  <div class="col-md-3" ng-repeat="attachment in vehicle.attachments">

                    <a href="{{attachment.publicUrl}}" class="thumbnail">
                        <img ng-src="{{attachment.publicUrl}}" alt="Pulpit Rock" style="width:100px;height:100px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!hasVehilces">
        <div class="well">
          <h2>
          You have not registered any cars with us !!!
        </h2>
        </div>
    </div>
</div>
